*.o
*.in
*.la
*.lo
*.a
*.so
*.swp
*~
*.pyc
.deps
.depend
.libs
libltdl
libtool
out
Debug
Release
ircd.conf
ircd.log
ircd.motd
*.ncb
*.sln
*.vcproj
*.suo
*.user
*.sdf
*.opensdf
*.vcxproj*
*.crt
*.key
ipch
Makefile
ircd.Makefile
ircd.target.mk
core
*.core
